evaluate==0.4.0
ipython==8.14.0
matplotlib==3.7.1
numpy==1.24.3
pandas==2.0.2
PyYAML==6.0
scikit_learn==1.2.2
torch==2.0.1
tqdm==4.65.0
transformers==4.29.2
optuna==3.2.0
torchmetrics==0.11.4
ray==2.5.0
